* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cointainer {
  justify-content: space-between;
  width: 50%;
}

ul {
  list-style: none;
  text-align: center;
  font-size: 25px;
  list-style: none;
}

a:link {
  text-decoration: none;
}
