/* Css base formant */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

/* NavBar */
.navbar-brand.navbar-brand,
a:link,
ul,
li,
a,
#container-aboutme {
  color: cornflowerblue;
}

.navbar-brand.navbar-brand {
  display: inline-block;
}

.navbar-brand.navbar-brand:hover {
  color: rgb(13, 81, 206);
}

/* Content */
.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
a:link {
  text-decoration: none;
}

ul,
li,
a {
  font-size: 40px;
  text-decoration: none;
  list-style-type: none;
}
ul,
li {
  cursor: default;
}
a:hover {
  cursor: pointer;
}

/* Scroll-down fuction css */
.scroll-down {
  height: 50px;
  width: 50px;
  border: 2px solid cornflowerblue;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  border: 2px solid cornflowerblue;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}
/*  */
#container-aboutme {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  /* background-color: black; */
}

#about-me-tec {
}
