/* Css base formant */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NavBar */
.navbar-collapse {
}

.navbar-brand.navbar-brand {
  color: cornflowerblue;
  margin-left: -5px;
  display: inline-block;
}

.navbar-brand.navbar-brand:hover {
  color: rgb(13, 81, 206);
}

/* Content */
a:link {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.responsive-navbar-nav {
  color: red;
}
ul,
li {
  font-size: 40px;
  text-decoration: none;
  display: list-item;
  text-align: center;
  justify-content: center;
  color: cornflowerblue;
  list-style-type: none;
}

ul,
li:hover {
  color: rgb(13, 81, 206);
  cursor: pointer;
}

/* About Me */

#container-aboutme {
  color: aqua;
  padding: 20%;
  background-color: black;
}
